* {
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 1rem;
}

.pokemon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon .number {
    color: black;
    text-align: right;
}

.pokemon {
    margin: .5rem;
    padding: 1rem;
    background-color: #2d0097;
    border-radius: 1rem;
    color: #fff;
    height: 110px;
}

.logo-pokemon {
    margin: 3px;
}

.pokemon .detail img {
    max-width: 100%;
    opacity: 0.3;
    height: 100px;
}